<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Duquesne Incline website</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>

    <header>
    <h1>The Duquesne Incline</h1>
    
    </header>
    <header>
    <img src="../static/Incline logo.jpg" alt="incline logo" class="logo">
    </header>
    

    <div class="main">

        <nav>
            <a href="../index.html">Home</a>
            <a href="Group Information.html">Group Information</a>
            <a href="Gift Shop.html" class="active">Gift Shop</a>
            <a href="Things To Do.html">Things To Do</a>
            <a href="About the Incline.html">About the Incline</a>
        </nav>

        <div class="carousel-container">
            <button id="prev">Previous</button>
            <img id="carousel" alt="Image of a gift shop item available at the Duquesne Incline">
            <button id="next">Next</button>
        </div>
        <p class="center-text">Some gift shop items!</p>
        <p class="center-text">Photos courtesy of Dunsque Incline website</p>
        
    </div>

    <footer>
        Copyright 3/18/2025 
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>