<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Duquesne Incline website</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>

    <header>
    <h1>The Duquesne Incline</h1>
    
    </header>
    <header>
    <img src="../static/Incline logo.jpg" alt="incline logo" class="logo">
    </header>
    

    <div class="main">

        <nav>
            <a href="../index.html">Home</a>
            <a href="Group Information.html" class="active">Group Information</a>
            <a href="Gift Shop.html">Gift Shop</a>
            <a href="Things To Do.html">Things To Do</a>
            <a href="About the Incline.html">About the Incline</a>
        </nav>
         
            <img src="../static/gear wheel.jpg" alt="Historic wooden gear wheel from the Duquesne Incline machinery" class="gear-wheel">
            <img src="../static/Wheel.jpg" alt="Close-up of a wheel used in the Duquesne Incline's original hoisting equipment" class="gear-wheel">
            <p class="info-text">The original hoisting equipment including its famous wooden gear teeth can be viewed.</p>
            <p class="info-text">Photos courtesy of Dunsque Incline website</p>

            <h1 class="heading"><strong>Open 365 Days a Year</strong></h1>
            <h2 class="heading">Everyday From: <strong>6:30 a.m. to 12:30 a.m.</strong></h2>

            <p class="heading">
                <strong>No Reservations No Advance Tickets</strong>
            </p>
        
            <h2 class="heading">
                FARES:
            </h2>

            <p class="info-text">
                Adults (Ages 12-64) $2.50 Each Way or $5.00 Round Trip<br>
Children (Ages 6-11) $1.25 Each Way or $2.50 Round Trip<br><br>

Children 5 and Under Free<br>
University of Pittsburgh Students Free, with proper I.D.<br>
Carnegie Mellon Students Free, with proper I.D.<br>
Chatham University Students Free, with proper I.D.<br>
            </p>

            <h2 class="heading">GROUP RATES:</h2>
            <p class="info-text">
                Group Rates are Valid for Any Group of Ten or More People<br>
Adults (Ages 12-64) $1.75 Each Way or $3.50 Round Trip<br>
Children (Ages 6-11) $1.00 Each Way or $1.75 Round Trip<br><br>


Cash fares as well as Port Authority bus passes and tickets are accepted as payment.<br><br>


Seniors age 65 or older who present a blue or yellow PRT card or a Senior Connect Card ride free.<br>

Wheelchair accessibility is via the Upper Station located 1220 Grandview Avenue Pittsburgh, Pa. 15211.
            </p>

            <h2 class="heading">Field Trip Program for Students and Youth Groups</h2>
            <p class="info-text">
                A free field trip program is available for students and youth groups of ten or more daily – except Saturdays and Sundays after 12:00 noon due to weekend crowds and limited space. The program includes:
            </p>
            <ul class="info-list">
                <li>A teacher's lesson packet for students' specific grade level</li>
                <li>A round trip ride on the Duquesne Incline</li>
                <li>A history of inclines in Pittsburgh</li>
                <li>A discussion about Pittsburgh's industrial past</li>
                <li>A visit to the machine room to observe the original hoisting equipment in operation and learn about the engineers who built it</li>
                <li>A panoramic view of Downtown Pittsburgh and The North Shore from our observation deck 400 feet above the three rivers</li>
                <li>A brief history of the French and Indian War from which the city arose</li>
            </ul>

            <h2 class="heading">A self guided walk includes:</h2>

<p class="info-text">
    <strong>A pictorial history</strong> of Pittsburgh's industry, inclines, sports venues, and natural disasters.<br>
    <strong>A visit to the machine room</strong> to observe the original hoisting equipment from 1877 in operation.<br>
    <strong>A panoramic view</strong> of Downtown Pittsburgh from the observation deck 400 feet above the three rivers.<br>
    Also allow time for photos and a visit to our <strong>gift shop</strong> for post cards and souvenirs.
</p>

    </div>

    <footer>
        Copyright 3/18/2025 
    </footer>
</body>
</html>