<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Duquesne Incline website</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>

    <header>
    <h1>The Duquesne Incline</h1>
    
    </header>
    <header>
    <img src="../static/Incline logo.jpg" alt="incline logo" class="logo">
    </header>
    

    <div class="main">

        <nav>
            <a href="../index.html">Home</a>
            <a href="Group Information.html">Group Information</a>
            <a href="Gift Shop.html">Gift Shop</a>
            <a href="Things To Do.html" class="active">Things To Do</a>
            <a href="About the Incline.html">About the Incline</a>
        </nav>

        <img src="../static/Duquesne_Incline_-_view_from_the_top_-_6.jpg" alt="View from the top of the Duquesne Incline" class="top-image">

        <h2 class="heading">CITY TOURS THAT FEATURE THE DUQUESNE INCLINE</h2>
        <p><strong>PITTSBURGH TOURS AND MORE</strong> - Pittsburgh Movie Locations, Sports, Breweries, Wineries and More. 412-323-4707</p>
        <p><strong>MOLLY'S TOLLEYS</strong> - 412-281-2055</p>
        <p><strong>RIVERS OF STEEL</strong> - 412-464-4020 or 412-381-8687</p>
        <p><strong>THE PITTSBURGH TOUR COMPANY</strong> - Hop on/Hop off Double Decker tour buses from London. 412-381-8687</p>

        <h2 class="heading">THINGS TO DO AFTER INCLINE VISIT</h2>
        <h3><strong>DINING ON GRANDVIEW AVENUE</strong> - Within Walking Distance of our Upper Station</h3>
        <p><strong>STEEL MILL SALOON</strong> 412-586-4926</p>
        <p><strong>COAL HILL STEAK HOUSE</strong> (GRANDVIEW SALOON) 412-431-1400</p>
        <p><strong>LeMONT RESTAURANT</strong> 412-431-3100</p>
        <p><strong>MONTEREY BAY FISH GROTTO</strong> 412-381-1919</p>

        <h3>STATION SQUARE - Less than one mile east of our Lower Station</h3>
        <p>SHERATON PITTSBURGH HOTEL AT STATION SQUARE 412-261-2000</p>
        <p>HARD ROCK CAFE 412-481-7625</p>
        <p>BUCA DI BEPO (ITALIAN CUISINE) 412-471-9463</p>
        <p>GATEWAY CLIPPER FLEET 412-355-7993</p>
        <p>MOLLEY'S TROLLEYS - CHARTER A CUSTOMIZED SIGHTSEEING TOUR. 412-281-2085.</p>
        <p>GRAND CONCOURSE 412-261-1717</p>
        <p>SEGWAY in PARADISE - GUIDED TOURS ON UPRIGHT TWO WHEELED VEHICLES OFFER AN UNFORGETABLE WAY TO EXPERIENCE PITTSBURGH. 412-337-3941</p>

        <h3>NORTH SHORE - Just across the West End Bridge from our Lower Station (less than 5 minutes).</h3>
        <p>RIVERS CASINO PITTSBURGH 412-231-7777</p>
        <p>HEINZ FIELD HOME TO THE PITTSBURGH STEELERS AND UNIVERSITY OF PITTSBURGH PANTHERS FOOTBALL TEAMS 412-323-1200</p>
        <p>PNC PARK HOME TO THE PITTSBURGH PIRATES 412-321-BUCS</p>
        <p>CARNEGIE SCIENCE CENTER/HIGHMARK SPORTS WORKS - COMBINE A HANDS ON SCIENCE EXPERIENCE AT THE CARNEGIE SCIENCE CENTER WITH A 19TH CENTURY ENGINEERING AND HISTORY EDUCATIONAL TOUR OF THE DUQUESNE INCLINE (JUST ACROSS THE RIVER). 412-237-3336</p>
        <p>RIVERQUEST - AN EDUCATIONAL RIVER CRUISE 412-231-2712</p>
        <p>KAYAK PITTSBURGH - Padddle Pittsburgh's Rivers 412-969-9090</p>
        <p>CHILDREN'S MUSEUM 412-322-5058</p>
        <p>NATIONAL AVIARY - IT'S FOR THE BIRDS 412-323-7235</p>
        <p>ANDY WARHOL MUSEUM 412-237-8300</p>
        <p>MATRESS FACTORY ART MUSEUM 412-231-3169</p>

        <h3>DOWNTOWN - Just across the Fort Pitt Bridge from our Lower Station (less than 2 minutes).</h3>
        <p>MARKET SQUARE</p>
        <p>GOLDEN TRIANGLE BIKE RENTAL - Take a ride on the 26 miles of scenic riverfront trail. Bring your bike to the Duquesne Incline and ride up to Grandview Avenue for a dramatic view while cruising the avenue. 412-600-0675</p>
        <p>FORT PITT MUSEUM + BLOCKHOUSE 412-454-6000 or 412-281-9284</p>
        <p>DAVID L. LAWRENCE CONVENTION CENTER 412-565-6000</p>
        <p>BENEDUM CENTER 412-456-6666</p>
        <p>BYHAM THEATER 412-456-6666</p>
        <p>PPG Paints Arena - Home of The Pittsburgh Penguins 412-642-1800</p>
        <p>HEINZ HALL 412-392-4900</p>
        <p>SENATOR JOHN HEINZ HISTORY CENTER 412-454-6000</p>

        <h3>SITES OF INTEREST</h3>
        <p>VISIT PITTSBURGH 800-359-0758</p>
        <p>POPULAR PITTSBURGH 800-231-4788</p>
    </div>

    <footer>
        Copyright 3/18/2025 
    </footer>
</body>
</html>